@keyframes bgColorFadeInOut {
    0%, 100% {
        background-color: transparent;
    }
    50% {
        background-color: var(--background-color);
    }
}

@keyframes elastic {
    0% {
        max-height: 0px;
    }
    70% {
        max-height: 550px; 
    }
    100% {
        max-height: 500px; 
    }
}

@keyframes blink {
    0%, 100% {
        color: var(--primary-color);
    }
    50% {
        color: var(--primary-color--accent);
    }
    88% {
        color: var(--secondary-color);
    }
}

.blinking {
    animation: blink 1s infinite;
}


.animate-bg {
    animation: bgColorFadeInOut 5s infinite;
}

.hover-bg {
    transition: background-color 1s;
    background-color: var(--background-color) !important;
}


#cvSection {
    width: 90%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

.left-column {
    width: 35%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-column {
    width: 55%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes borderColorPulse {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: var(--secondary-color-accent);
    }
    100% {
        border-color: var(--background-secondary-color);
    }
}

@keyframes childBorderColorPulse {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: var(--secondary-color);
    }
    100% {
        border-color: var(--background-secondary-color);
    }
}

@keyframes subChildBorderColorPulse {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: var(--secondary-color);
    }
    100% {
        border-color: var(--secondary-color-accent);
    }
}

.column-block {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid transparent;
    background-color: transparent;
    transition: border-color 2s ease;
}

.column-block:hover {
    animation: borderColorPulse 1s ease-in-out;
}

.column-block:hover .column-child-block {
    animation: childBorderColorPulse 1.5s ease-in-out 0.15s;
}

.column-sub-child-block:hover {
    animation: subChildBorderColorPulse 0.5s ease-in-out 0.1s;
    transform: scale(1.04);
}

.column-child-block, .column-sub-child-block {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid var(--background-secondary-color);
    background-color: var(--background-secondary-color);
    transition: border-color 1.5s ease 2s;
}


.column-child-block:hover h2 {
    color: var(--primary-color-super-accent);
}

.column-sub-child-block {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 4s ease, max-height 8s ease;
}

.column-block:hover .column-sub-child-block {
    opacity: 1;
    max-height: 500px;
    transition: opacity 0.1s ease, max-height 8s ease;
}

.info-list {
    list-style-type: none;
    padding: 0;
    color: var(--primary-color);
}

.info-list li {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
}

.info-list li:before {
    content: '•'; 
    color: var(--primary-color);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
