/* 
* Themes Variables are defined in styles.css
*/

/* 
* Landing Section Styling
*/

#landingSection {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* 
* Big Logo Area Styling
*/

.big-logo-area {
    width: 50%;
    height: auto;
}

/* 
* Landing Text Area Styling
*/

.landing-text-area {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
* Enter Button Styling
*/

.enter-button {
    background-color: var(--background-secondary-color);
    color: var(--text-color);
    border: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, var(--primary-color), var(--secondary-color));
    padding: 10px 20px;
    margin-top: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.3s, color 0.5s, border-image-source 0.5s;
    outline: none;
}

.enter-button:hover,
.enter-button:active,
.enter-button:focus {
    background-color: var(--primary-color);
    color: var(--background-secondary-color);
    border-image-source: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    transform: scale(1.05);
}

.enter-button:active {
    transform: scale(0.90);
}

/* 
* Landing Area Titles and Texts Styling
*/

.landing-area-title {
    color: var(--primary-color-accent);
    font-size: 82px;
    letter-spacing: 6px;
    margin-bottom: 0;
}

.landing-area-text {
    color: var(--background-color);
    text-transform: uppercase;
    background-color: var(--primary-color-accent);
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 5px;
    transition: background-color 0.5s ease-in-out;
    transition: color 1s ease-in-out;
    transition: font-size 0.6s ease-in-out;
}

.landing-area-text:hover {
    color: var(--primary-color-super-accent);
    background-color: var(--background-secondary-color);
    font-size: 22px;
}

.landing-area-text {
    color: var(--background-color);
    text-transform: uppercase;
    background-color: var(--primary-color-accent);
    font-size: 19px;
    margin-bottom: 0;
    margin-top: 5px;
}

/* 
* Confetti Animation
*/

@keyframes fall {
    to {
        transform: translateY(calc(100vh - 10px));
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spreadOut {
    0% {
        opacity: 1;
        transform: scale(0.5);
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

.confetti {
    position: fixed;
    width: 10px;
    height: 10px;
    background: rgba(255, 0, 0, 0.8);
    animation: fall 5s linear forwards, spin 5s infinite linear, spreadOut 0.5s forwards;
    opacity: 0;
}

#particleCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Behind other elements */
}
